
/*************************************
 * EXPAND UP
 */

.button[data-style=expand-up] {
	overflow: hidden;

	.ladda-spinner {
		top: -$spinnerSize;
		left: 50%;
		margin-left: 0;
	}

	&[data-loading] {
		padding-top: 54px;

		.ladda-spinner {
			opacity: 1;
			top: ($spinnerSize/ 2) + 10;
			margin-top: 0;
		}

		&[data-size="s"],
		&[data-size="xs"] {
			padding-top: 32px;

			.ladda-spinner {
				top: 4px;
			}
		}
	}
}


/*************************************
 * EXPAND DOWN
 */

 .button[data-style=expand-down] {
 	overflow: hidden;

 	.ladda-spinner {
 		top: 62px;
 		left: 50%;
 		margin-left: 0;
 	}

 	&[data-size="s"] .ladda-spinner,
 	&[data-size="xs"] .ladda-spinner {
 		top: 40px;
 	}

 	&[data-loading] {
 		padding-bottom: 54px;

 		.ladda-spinner {
 			opacity: 1;
 		}

 		&[data-size="s"],
 		&[data-size="xs"] {
 			padding-bottom: 32px;
 		}
 	}
 }


/*************************************
 * SLIDE LEFT
 */
.button[data-style=slide-left] {
	overflow: hidden;

	.ladda-label {
		position: relative;
	}
	.ladda-spinner {
		left: 100%;
		margin-left: 0;
	}

	&[data-loading] {
		.ladda-label {
			opacity: 0;
			left: -100%;
		}
		.ladda-spinner {
			opacity: 1;
			left: 50%;
		}
	}
}


/*************************************
 * SLIDE RIGHT
 */
.button[data-style=slide-right] {
	overflow: hidden;

	.ladda-label {
		position: relative;
	}
	.ladda-spinner {
		right: 100%;
		margin-left: 0;
		left: $spinnerSize/2
	}

	&[data-loading] {
		.ladda-label {
			opacity: 0;
			left: 100%;
		}
		.ladda-spinner {
			opacity: 1;
			left: 50%;
		}
	}
}


/*************************************
 * SLIDE UP
 */
.button[data-style=slide-up] {
	overflow: hidden;

	.ladda-label {
		position: relative;
	}
	.ladda-spinner {
		left: 50%;
		margin-left: 0;
		margin-top: 1em;
	}

	&[data-loading] {
		.ladda-label {
			opacity: 0;
			top: -1em;
		}
		.ladda-spinner {
			opacity: 1;
			margin-top: 0;
		}
	}
}


/*************************************
 * SLIDE DOWN
 */
.button[data-style=slide-down] {
	overflow: hidden;

	.ladda-label {
		position: relative;
	}
	.ladda-spinner {
		left: 50%;
		margin-left: 0;
		margin-top: -2em;
	}

	&[data-loading] {
		.ladda-label {
			opacity: 0;
			top: 1em;
		}
		.ladda-spinner {
			opacity: 1;
			margin-top: 0;
		}
	}
}


/*************************************
 * ZOOM-OUT
 */

.button[data-style=zoom-out] {
	overflow: hidden;
}
	.button[data-style=zoom-out] .ladda-spinner {
		left: 50%;
		margin-left: $spinnerSize;

		@include transform( scale( 2.5 ) );
	}
	.button[data-style=zoom-out] .ladda-label {
		position: relative;
		display: inline-block;
	}

.button[data-style=zoom-out][data-loading] .ladda-label {
	opacity: 0;

	@include transform( scale( 0.5 ) );
}
.button[data-style=zoom-out][data-loading] .ladda-spinner {
	opacity: 1;
	margin-left: 0;

	@include transform( none );
}


/*************************************
 * ZOOM-IN
 */

.button[data-style=zoom-in] {
	overflow: hidden;
}
	.button[data-style=zoom-in] .ladda-spinner {
		left: 50%;
		margin-left: $spinnerSize/-2;

		@include transform( scale( 0.2 ) );
	}
	.button[data-style=zoom-in] .ladda-label {
		position: relative;
		display: inline-block;
	}

.button[data-style=zoom-in][data-loading] .ladda-label {
	opacity: 0;

	@include transform( scale( 2.2 ) );
}
.button[data-style=zoom-in][data-loading] .ladda-spinner {
	opacity: 1;
	margin-left: 0;

	@include transform( none );
}


/*************************************
 * CONTRACT
 */

.button[data-style=contract] {
	overflow: hidden;
	width: 100px;
}
	.button[data-style=contract] .ladda-spinner {
		left: 50%;
		margin-left: 0;
	}

.button[data-style=contract][data-loading] {
	border-radius: 50%;
	width: 52px;
}
	.button[data-style=contract][data-loading] .ladda-label {
		opacity: 0;
	}
	.button[data-style=contract][data-loading] .ladda-spinner {
		opacity: 1;
	}



/*************************************
 * OVERLAY
 */

.button[data-style=contract-overlay] {
	overflow: hidden;
	width: 100px;

	box-shadow: 0px 0px 0px 2000px rgba(0,0,0,0);
}
	.button[data-style=contract-overlay] .ladda-spinner {
		left: 50%;
		margin-left: 0;
	}

.button[data-style=contract-overlay][data-loading] {
	border-radius: 50%;
	width: 52px;

	/*outline: 10000px solid rgba( 0, 0, 0, 0.5 );*/
	box-shadow: 0px 0px 0px 2000px rgba(0,0,0,0.8);
}
	.button[data-style=contract-overlay][data-loading] .ladda-label {
		opacity: 0;
	}
	.button[data-style=contract-overlay][data-loading] .ladda-spinner {
		opacity: 1;
	}

